@import "tailwindcss";

@theme {
  --color-blue-600: #2563EB;
  --color-blue-900: #1E3A8A;
  --color-slate-50: #F8FAFC;
  --color-slate-100: #F1F5F9;
  --color-slate-200: #E2E8F0;
  --color-slate-400: #94A3B8;
  --color-slate-500: #64748B;
  --color-slate-800: #1E293B;
  --color-slate-900: #0F172A;
}

:root {
  --background: #ffffff;
  --foreground: #0F172A;
}

body {
  background: var(--background);
  color: var(--foreground);
}